  .modal {
    width: 100%;
    height: max-content;
  }
  

  
  .modal__card {
    border-radius: 25px;
    background-color: #ffffff;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #1a191f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .modal__movie-backdrop {
    width: 150px;
    margin: 0 auto
  }

  .modal__button-close {
    padding: 5px;
    margin: 10px;
    align-self: center;
  }
  
  .modal__movie-site {
    color: #ffd80e
  }
  
  ul li {
    padding: 5px;
  }
  

  